h1 {
  font-size: 3rem;
  margin: 1rem;
  color: orange;
  font-weight: 900; }

a {
  text-decoration: none;
  color: white; }

h3 {
  text-decoration: underline;
  margin: 2rem;
  font-weight: 700;
  color: #830783; }

p {
  margin: 1rem; }

* {
  margin: 0;
  padding: 0;
  font-size: 62,5%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden !important; }

/*index*/
.content-wrapper {
  margin: 0;
  width: auto; }

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr; }

.portfolio-item-wrapper {
  position: relative; }

.portfolio-img-background {
  height: 32rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px; }

.text-wrapper .subtitle {
  font-weight: 600;
  transition: 1s;
  color: transparent; }

.text-wrapper:hover .subtitle {
  font-weight: 600;
  color: #16ec32;
  text-align: center;
  font-size: 3rem; }

.img-darken {
  transition: 1s;
  filter: brightness(10%); }

@media screen and (min-width: 768px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .portfolio-img-background {
    height: 36rem;
    width: auto; } }

/*evolucion*/
.img__evolucion {
  height: 20rem;
  width: 27rem;
  border-radius: 2em; }

.navLogo {
  height: 5rem;
  width: 6rem; }

.evolucionC .subtitulo {
  border-style: double;
  border-color: #631b1b;
  border-width: 1rem; }

.evolucionC .hoyElefantes {
  border-style: double;
  border-color: #c5b520;
  border-width: 1rem; }

.evolucionC .tituloPrincipal {
  border-style: double;
  border-color: #12442b;
  border-width: 1rem; }

/*afri y asia*/
.sangria {
  text-indent: 3rem;
  font-weight: 500; }

.gridTabla {
  display: grid;
  width: 100%;
  border: solid #d67f0d 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 0,6rem; }

iframe {
  width: 530px;
  height: 340px; }

.gridTablaGrande {
  display: grid;
  border: solid #d67f0d 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  gap: 0,6rem; }

.fotoDurmiendo {
  width: 26rem;
  height: 17rem;
  border-radius: 2em; }

/*afri y asia*/
.galeriaEstructura .formularioDiv {
  margin-top: 2rem; }

.galeriaEstructura .carrouselFotos {
  margin-top: 2rem; }

/*datos*/
ol li {
  list-style: upper-roman;
  margin-left: 4rem;
  font-weight: 800;
  color: #db31cd;
  font-size: 1rem; }
  ol li p {
    color: black;
    font-size: 1rem; }

ol ul {
  color: #570250;
  font-weight: 400; }

/*footer*/
h5 {
  font-size: 1rem;
  color: red; }

h5 a {
  transition: all 1s;
  color: black; }

h5 a:hover {
  color: #fbff0e;
  background-color: black;
  text-decoration: none;
  margin: 1rem; }

#footer {
  background-color: #0989df; }

@media screen and (min-width: 768px) {
  ol li {
    padding: 1rem;
    margin: 1rem;
    font-weight: 800;
    color: rebeccapurple;
    font-size: 2rem;
    list-style: upper-roman; }
  h1 {
    font-size: 5rem; }
  .evolucionC .subtitulo {
    border-width: 2rem; }
  .evolucionC .hoyElefantes {
    border-width: 2rem; }
  .evolucionC .tituloPrincipal {
    border-width: 2rem; }
  iframe {
    width: 100%;
    height: 23rem; } }

/* galria*/
.carrouselFotos {
  margin-bottom: 1rem; }
