h1{
font-size: 2rem;
color: orange;
font-weight: 900;

}
a{
    text-decoration: none;
    color: white;
}
h3{
    text-decoration: underline;
    margin:2rem;
    font-weight: 700;
    color: rgb(131, 7, 131);
   
}

p{
font-size:1rem ;

}