@import "tipografia";
@import "variables";
@import "operaciones";



   *{
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    scroll-behavior: smooth;
    overflow-x: hidden !important;



    }
/*index*/
    .content-wrapper{
    margin: 0;
    width: auto;
    }
    
    .portfolio-items-wrapper{
    
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .portfolio-item-wrapper{
        position: relative;
    }
    
    img{
       
        width:100%;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    
    }

    .text-wrapper{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right:  100px;
    }
    
    .text-wrapper .subtitle{
        font-weight: 600;
        color: rgb(22, 236, 50);
        text-align: center;
        font-size: 3rem;
    }
    
    

    .navLogo{
        height: 4rem;
        width: 6rem;
        }
    
        @media screen and (min-width: 768px){
        .portfolio-items-wrapper{
    
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            height: 100vh;
            width:100%;
        }
        .text-wrapper .subtitle{
            font-weight: 600;
            transition: 1s all;
            color: transparent;
        }
        
        .portfolio-item-wrapper:hover .subtitle{
            font-weight: 600;
            color: rgb(22, 236, 50);
            text-align: center;
            font-size: 3rem;
        }
        
      
    }

    /*evolucion*/
    .img__evolucion{
    height: 16rem;
    width:18rem;
    border-radius: 2em;
    text-align: center;

    }
    
    .evolucionC{
        padding-top:6rem;
    }


.evolucionC .subtitulo{
    border-style: double;
    border-color: rgb(105, 20, 14);
    border-width: 1rem;
    padding: 2rem;
}
.evolucionC .hoyElefantes{
    border-style: double;
    border-color: rgb(242, 243, 174);
    border-width: 1rem;
    padding: 2rem;
}
.evolucionC .tituloPrincipal{
    border-style: double;
    border-color: rgb(213, 137, 54);
    border-width: 1rem;
    padding: 2rem;
}

/*afri y asia*/

.gridTabla{
    display: grid;
    width: 100%;
    border: solid rgb(214, 127, 13) 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    padding: 2rem;
    gap: 2rem;


}



.gridTablaGrande{
    display: grid;
    border: solid rgb(213, 137, 54) 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6,1fr);
    padding-top: 5rem;
}




.fotoDurmiendo{
    width: 20rem;
    height: 17rem;
    border-radius: 2em;
}
.reina_foto{
    width: 19rem;
    height: 16rem;
    border-radius: 2em;
}


/*afri y asia*/


.textoElefantes{
    border-style: double;
    border-color: rgb(60, 21, 24);
    border-width: 1rem;
    padding: 2rem;
}
.video{
    border-style: double;
    border-color: rgb(164, 66, 0);
    border-width: 1rem;
}

.galeriaEstructura .formularioDiv{
    margin-top: 2rem;
}
.galeriaEstructura .carrouselFotos{
    margin-top: 2rem;
}


span{
    color: rgb(80, 78, 78);
}

iframe{
    width: 100%;
}



/*datos*/

.lista{
    padding-top: 6rem;
    border-style: double;
    border-color:  rgb(164, 66, 0);
    border-width: 1rem;
}
.listaOrdenada{
    padding: 1rem;
}

.cabecera{
padding: 1rem;
}
 ol{
    list-style-type: upper-roman;
    font-weight: 800;
    color: rgb(219, 49, 205);
    font-size: 2rem;
    padding: 2rem;
}


 .listaOrdenada  ul li{
    color: rgb(87, 2, 80);
    font-weight: 400;
    font-size: 2rem;
    list-style-type:circle;

}


/*footer*/

h5{

    color:white;
}
h5 a{
    transition: all 1s;
    color: black;
}
h5 a:hover{
        color: rgb(251, 255, 14);
        background-color: black;
        text-decoration: none;
        margin: 1rem;
    }

    #footer{
        background-color: rgb(9, 137, 223);
        padding: 2rem;
    }

.listas{
    display: block;
}
      /* galria*/
      .galeriaEstructura .carrouselFotos {
        margin-bottom: 1rem;
        border-style: double;
        border-color: rgb(242, 243, 174);
        border-width:2rem;
    
    }
 .galeriaEstructura   .formularioDiv{
        border-style: double;
        border-color: rgb(60, 21, 24);
        border-width: 1rem;
        margin-bottom: 1rem;
    } 
    .galeriaEstructura{
        padding-top: 6rem;
    }
   

    @media screen and (min-width: 768px){
    
        .gridTabla{
            padding: 4rem;
            margin-top: 4rem;
            gap: $all;
        }
        .buttons{
            display: none;
        }
    
        h1{
            font-size: 3rem;
        }
        .evolucionC .subtitulo{
            
    border-width: $all;
        }
        .evolucionC .hoyElefantes{
            
    
            border-width: $all;
        }
        .evolucionC .tituloPrincipal{

            border-width: $all;
        }

        .img__evolucion{
            height: 22rem;
            width:28rem;
            border-radius:$all;
        
            }
        .textoElefantes{
                border-width: $all;
            }
        .video{
            border-width: $all;
        }
        .evolucionC{
            padding-top: 5rem;
        }
            .galeriaEstructura{
                padding-top: 5rem;
            }

            .reina_foto{
                width: 27rem;
                height: 20rem;
            }
      .galeriaEstructura      .carrouselFotos{
                border-width:$all;
            }
             .galeriaEstructura .formularioDiv{
                border-width: $all;
            }
            .lista{
                border-width: $all;
            }
    }
