@import "tipografia";
@import "variables";
@import "operaciones";



   *{
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


    }
/*index*/
    .content-wrapper{
    margin: 0;
    width: auto;
    }
    
    .portfolio-items-wrapper{
    
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .portfolio-item-wrapper{
        position: relative;
    }
    
    .portfolio-img-background{
        height:32rem;
        width:100%;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    
    }

    .text-wrapper{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right:  100px;
    }
    
    .text-wrapper .subtitle{
        font-weight: 600;
        transition: 1s;
        color: transparent;
    }
    
    .text-wrapper:hover .subtitle{
        font-weight: 600;
        color: rgb(22, 236, 50);
        text-align: center;
        font-size: 3rem;
    }
    
    .img-darken{
        transition: 1s;
        filter: brightness(10%);
    }
    @media screen and (min-width: 768px){
        .portfolio-items-wrapper{
    
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .portfolio-img-background{
            height: 36rem;
            width: auto;
        }
    }

    /*evolucion*/
    .img__evolucion{
    height: 20rem;
    width:27rem;
    border-radius: 2em;

    }
    
h1{
    font-size: 3rem;
}
.navLogo{
height: 5rem;
width: 6rem;
}
/*afri y asia*/
.sangria{
    text-indent:$sangria;
    font-weight: 500;
}

.gridTabla{
    display: grid;
    width: 100%;
    border: solid rgb(214, 127, 13) 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 0,6rem;

}
iframe{
    width:460px;

}

@media screen and (min-width: 768px){
.gridTabla{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:repeat(6,1fr) ;
    gap: 1rem;

}
iframe{
    width: 100%;
}

}
.fotoDurmiendo{
    width: 26rem;
    height: 17rem;
    border-radius: 2em;
}

/*afri y asia*/



/*datos*/
 ol li {
    list-style: upper-roman;
    margin-left: 2rem;
    font-weight: 800;
    color: rgb(219, 49, 205);
    font-size: $size * 1;
}
ul {
color: rgb(10, 177, 189);
li p{
    color: black;
}
}

ol{
    margin-left: 3rem;
}


/*footer*/

h5{
    font-size:$lista;
    color:$back;
}
 h5 a{
    transition: all 1s;
    color: black;
}
h5 a:hover{
        color: rgb(251, 255, 14);
        background-color: black;
        text-decoration: none;
        margin: 1rem;
    }

    #footer{
       font-weight: 400;
        margin-top:1rem;
        background-color: rgb(5, 131, 5);
        width: 100%;
        height: auto;
    }


    @media screen and (min-width: 768px){
        #footer{
            
            width: 100%;
        }

        ol li {
            margin-left: 2rem;
            font-weight: 800;
            font-size: 2rem ;
     
        }
        h1{
            font-size: 5rem;
        }
    }