@import "tipografia";
@import "variables";
@import "operaciones";



   *{
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    scroll-behavior: smooth;
    overflow-x: hidden !important;



    }
/*index*/
    .content-wrapper{
    margin: 0;
    width: auto;
    }
    
    .portfolio-items-wrapper{
    
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .portfolio-item-wrapper{
        position: relative;
    }
    
    .portfolio-img-background{
        height:32rem;
        width:100%;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    
    }

    .text-wrapper{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right:  100px;
    }
    
    .text-wrapper .subtitle{
        font-weight: 600;
        transition: 1s;
        color: transparent;
    }
    
    .text-wrapper:hover .subtitle{
        font-weight: 600;
        color: rgb(22, 236, 50);
        text-align: center;
        font-size: 3rem;
    }
    
    .img-darken{
        transition: 1s;
        filter: brightness(10%);
    }

    .navLogo{
        height: 5rem;
        width: 6rem;
        }
    
        @media screen and (min-width: 768px){
        .portfolio-items-wrapper{
    
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .portfolio-img-background{
            height: 36rem;
            width: auto;
        }
    }

    /*evolucion*/
    .img__evolucion{
    height: 19rem;
    width:26rem;
    border-radius: 2em;

    }
    



.evolucionC .subtitulo{
    border-style: double;
    border-color: rgb(99, 27, 27);
    border-width: 1rem;
}
 .evolucionC .hoyElefantes{
    border-style: double;
    border-color: rgb(197, 181, 32);
    border-width: 1rem;
}
.evolucionC .tituloPrincipal{
    border-style: double;
    border-color: rgb(18, 68, 43);
    border-width: 1rem;
}

/*afri y asia*/

.gridTabla{
    display: grid;
    width: 100%;
    border: solid rgb(214, 127, 13) 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);


}



.gridTablaGrande{
    display: grid;
    border: solid rgb(214, 127, 13) 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6,1fr);

}




.fotoDurmiendo{
    width: 24rem;
    height: 17rem;
    border-radius: 2em;
}
.reina_foto{
    width: 26rem;
    height: 19rem;
    border-radius: 2em;
}


/*afri y asia*/


.textoElefantes{
    border-style: double;
    border-color: rgb(99, 27, 27);
    border-width: 1rem;
}
.video{
    border-style: double;
    border-color: rgb(18, 68, 43);
    border-width: 1rem;
}

.galeriaEstructura .formularioDiv{
    margin-top: 2rem;
}
.galeriaEstructura .carrouselFotos{
    margin-top: 2rem;
}


span{
    color: rgb(80, 78, 78);
}




/*datos*/
.listaOrdenada ol li{
    list-style-type: upper-roman;
    font-weight: 800;
    color: rgb(219, 49, 205);
    font-size: 2rem;


    
    p{
    color: black;
}

}

 .listaOrdenada ol ul{
    color: rgb(87, 2, 80);
    font-weight: 400;
    font-size: 2rem;
    list-style-type:circle;

}

/*footer*/

h5{

    color:$back;
}
h5 a{
    transition: all 1s;
    color: black;
}
h5 a:hover{
        color: rgb(251, 255, 14);
        background-color: black;
        text-decoration: none;
        margin: 1rem;
    }

    #footer{
        background-color: rgb(9, 137, 223);
    }


    @media screen and (min-width: 768px){
    
 .listaOrdenada ol li {
        
            margin-left: 3rem;
            font-weight: 800;
            color: rebeccapurple;
            font-size: 2rem ;
            list-style: upper-roman;
            
        }
    ol ul{
        list-style-type:circle;
    }

        h1{
            font-size: 4rem;
            padding: 1rem;
            margin: 1rem;
        }
        .evolucionC .subtitulo{
            
    border-width: 2rem;
        }
        .evolucionC .hoyElefantes{
            
    
            border-width: 2rem;
        }
        .evolucionC .tituloPrincipal{

            border-width: 2rem;
        }

        .img__evolucion{
            height: 22rem;
            width:28rem;
            border-radius: 2em;
        
            }
        .textoElefantes{
                border-width: 2rem;
            }
        .video{
            border-width: 2rem;
        }
            
    }
    /* galria*/
    .carrouselFotos {
        margin-bottom: 1rem;
        border-style: double;
        border-color: rgb(197, 181, 32);
        border-width: 1rem;
    
    }
    .formularioDiv{
        border-style: double;
        border-color: rgb(18, 68, 43);
        border-width: 1rem;
        margin-bottom: 1rem;
    } 